body {
  background-color: lightcoral;
  font-family: 'Inter';
  font-size: 6vw;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
    font-family: 'Inter';
    font-size: 2vw;
  }
}